/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", serif;
}

/* headder section start */
.header {
    display: flex;
    margin: 50px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.header h4 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    text-align: center;
}

.header button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 17px 24px 17px 24px;
}

/* headder section end */
/* main section start */
main {
    height: 1440px;
}

/* banner section start */

.banner {
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 652px;
}

.banner-content {
    text-align: center;
    width: 998px;
    margin: 0 auto;
}

.banner-content img {
    margin: 26px 0px 32px;
}

.banner-content h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-bottom: 24px;
}

.banner-content p {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-content button {
    color: rgb(255, 255, 255);
    background: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
}

/* banner section end */
/* develop section start */
.development {
    width: 1140px;
    height: 1200px;
    margin: 0px auto;
    padding: 80px 97px 80px 97px;
    margin-top: 74px;
}

.develop {
    width: 946px;
    width: 946px;
    margin: 0px auto;
}

.develop-content {
    text-align: center;
    margin: 0px auto;
}

.develop-content h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.develop-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 47px 48px;
}

.image-section {
    display: flex;
    padding: 48px;
}

.text {
    margin-right: 100px;
}

.text h2 {
    margin: 11px 90px 0px 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}


.text p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.text button {
    margin-top: 32px;
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

.image-section img {
    width: 275px;
    height: 240px;
}

.image-section2 {
    display: flex;
    padding: 48px;
    flex-direction: row-reverse;
}

.text2 {
    margin: 0px 100px 0px 32px;
}

.text2 h2 {
    margin: 11px 10px 0px 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}


.text2 p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.text2 button {
    margin-top: 32px;
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

/* develop section end */
/* inspiration section start */
.inspiration {
    width: 1140px;
    margin: 0px auto;
    text-align: center;
    margin-top:90px ;
}

.ins-content h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.ins-content p {
    margin: 0px 144px 80px 144px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
}
.youtube-video{
    margin-bottom: 150px ;
}
/* inspiration section end */
/* target section start */
.target {
    width: 1140px;
    margin: 0px auto;
    text-align: center;
}

.target-content h1 {

}

.target-content p {

}
/* target section end */
/* main section end */